<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Supprimer le Message</title>
  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  {% with currentPage='' %}
    {% include 'navbar_admin.html' %}
    {% endwith %}
  <div class="container mt-5">
    <h1>Supprimer le Message</h1>
    <div class="alert alert-danger mt-3" role="alert">
      Êtes-vous sûr de vouloir supprimer ce message ?
    </div>
    <form action="/delete_message/{{ message_id }}" method="POST">
      <button type="submit" class="btn btn-danger">Supprimer</button>
      <a href="/messages" class="btn btn-primary">Annuler</a>
    </form>
  </div>
  
  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
