<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LMS INVENTION</title>
  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
    {% with currentPage='' %}
    {% include 'navbar_admin.html' %}
    {% endwith %}
<body>

  <div class="container mt-5">
    <h1>Répondre au Message</h1>
    <form action="/reply_message/{{ message_id }}" method="POST">
      <input type="hidden" name="_csrf_token" value="{{ csrf_token }}">
      <div class="form-group">
        <label for="reply">Votre réponse :</label>
        <textarea class="form-control" id="reply" name="reply" rows="5" required></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Envoyer</button>
      <a href="/messages" class="btn btn-secondary">Annuler</a>
    </form>
  </div>
  
  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
